.container {
	display: flex;
}
.square1 {
	width: 100px;
	height: 100px;
	background: red;
}
.square2 {
	width: 100px;
	height: 100px;
	background: blue;
}
.square3 {
	width: 100px;
	height: 100px;
	background: green;
}
.square4 {
	width: 100px;
	height: 100px;
	background: orange;
}